@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $base-font-size;
  font-family: $font-family;
  color: $font-color;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

a {
  color: $link-color;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: 1rem;
}