// Font sizes
$base-font-size: 1.4rem;
$font-family: 'Rubik', sans-serif;

// Spacing
$space: 1.4rem;

$font-color: #222;
$link-color: #000;

$input-border: #ddd;

// Boxed view
$boxed-view-overlay-bg: #fefefe;
$boxed-view-bg: #56b9d0;