.boxed-view {
  background: $boxed-view-overlay-bg;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &--modal {
    background: fade-out($boxed-view-overlay-bg, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &__box {
    background-color: $boxed-view-bg;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
    border: 1px solid darken($boxed-view-bg, 10%);
  }
  
  &__form {
    display: flex;
    flex-direction: column;
  }
}